*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.container .left_side{
    position: relative;
    padding: 40px;
    background: #003147;


}

.profile_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

.profile_text .image{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_text .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_text h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4em;
}

.profile_text h2 span{
    font-size: 0.6em;
}

.contactInfo{
    margin-top: 40px;
    color: #fff;
}

.contactInfo title{
          margin-top: 20px;
          text-transform: uppercase;
          font-weight: 600;
}

.contactInfo ul{
    position: relative;
}

.contactInfo li{
    margin-top: 20px;
    list-style: none;
    margin: 10px 0;
}

.contactInfo ul li .icon{
            display: inline-block;
            font-size: 18px;
            width: 30px;
            color: #03a9f4;
}

.contactInfo ul li span{
    font-weight: 300;
}
.container .right_side{
    position: relative;
    padding: 40px;
    background: #fff;

}

.skills h3{
    margin-top: 20px;
    color: white;
}

.skills .skills_known{
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 15px;
}

.skills .skills_known .percent{
       position: relative;
       width: 100%;
       background: #081921;
       height: 10px;
       margin-top: 5px;
       display: block;
}

.skills .skills_known .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.lang_known h4{
    color: white;
    margin-top: 15px;
}

.container .right_side h4{
    color: blue;
    font-size: 20px;
}

.container .right_side p{
    margin-top: 10px;
}


.experience{
    margin-top: 15px;
}

.experience ul{
    margin-top: 15px;
    list-style: none;
}

.experience h5{
    margin-top: 10px;
    font-size: 16px;
}

.projects{
    margin-top: 15px;
}

.edu{
    margin-top: 15px;
}

.edu h5{
    margin-top: 10px;
    font-size: 16px;
}

.projects h5{
    margin-top: 10px;
    font-size: 16px;
}